* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}

body {
    margin:0; 
    background-color: rgb(48, 48, 59);
    /*selects backround color for page gets rid of margins*/
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 125%;
}

h4 {
    font-size: 90%;
}

/*remove underline from links*/
a:link {
    text-decoration: none;
}

header {
    position: fixed;/* fixes header to top of page*/
    background-image: url(../images/ryan-moreno-w1_4YH5IhDg-unsplash.jpg);
    width: 100%; 
    display: flex;
    align-items: flex-end; /*puts all items at the bottom of the container*/
    
}

header h1 {
    width:50%; 
    display: flex;
    justify-content: flex-start; /*Keeps h1 to the left*/
    margin-bottom: 0;
}

header nav {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
}

header nav ul {
    width: 100%;
    display: flex;   
    list-style: none;
    justify-content: flex-end;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    
}

header nav ul li{ /*puts an equal ammount of space between each list item, while the smaller value for margin right pushes the entire list slightly to the right of the page.*/
    margin-left:6%;
    margin-right: 4%;
    
}

header a {
    font-weight: bold;
}

header h2 {
    margin-bottom: 0;
}

header h2:hover {
    color:aquamarine
}

main {
    display:flex;
    height: 100%;
    margin-top: 40px;
}

footer {
    margin: 20px 0 10px 0;
    text-align: center;
}

.sidebar {
    display: flex;
    flex-direction: column; /*stacks items on top of each other*/
    height: auto;/*fills the body top to bottom*/
    width: 15%; /*fills 15% of page width*/
    justify-content: space-between;
    text-align: right;
    
}

.sidebar h3 {
    color:aquamarine
}

.info{
    display:flex;
    flex-direction: column; /*stacks about me, projects, and contact*/
    margin-left: 25px;
    width: 70%;
    
}

#about {
    display: inline-flex;
    margin: 5px;
}

#about img {
    width:60px;
    height: 86px;
    }

#about p {
    margin-left: 10px;
    width: 74%;
}

.projects ul {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; /*causes items to wrap to a new row*/
}

.projects ul li {
    width: 42%;
    margin: 5px;
}

.projects ul li img {
    width: 100%;
}


/*Outlines project images with a box shadow on hover*/
.projects ul li img:hover {
    box-shadow: 0 0 2px 2px aquamarine;
}

/*this class is for placeholder projects that arent finished yet. these will be replaced by completed projects as I add more to my portfolio*/
.not-ready:hover {
    filter: grayscale(1)
}

/*Makes the first project in the list larger than the rest*/
#number-one { 
    width: 85%;
    height: 100%;
}

#contact ul {
    display: flex;
    justify-content: space-around; /*centers content within container, with equal space around each item*/
    width: 100%;
    margin-top: 4px;
}

/*changes link text color on hover*/
#contact a:hover {
    color:aquamarine;
}

/*side bar disappears when screen width<786px*/
@media screen and (max-width: 768px) {
    .sidebar {
        display:none
    }
    .projects ul {
        justify-content: center;
    }
    .projects ul li {
        width: 75%;
    }
    .info {
        width:90%;
    }
    header {
        display: inline-flex;
        align-items: center;
    }
    header nav {
        width: 50%;
    }
    header nav ul {
        display: block;
        text-align: right;
    
    }
    h1 {
        font-size: 20px;
        text-align: left;
        align-items:center
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 14;
    }
    main {
        margin-top: 74px;
    }
    #contact ul {
        display :block;
        text-align: center;        
    }
    #number-one { 
        width: 95%;
        height: 100%;
    }
}





