* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    outline: dashed 1px white;/*this line for reference while building only. Delete before deployment*/
}

body {
    margin:0; 
    background-color: rgb(48, 48, 59);
    /*selects backround color for page gets rid of margins*/
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 125%;
}

a:link {
    text-decoration: none;/*remove underline from links*/
}

header {
    position: fixed;/* fixes header to top of page*/
    background-image: url(../images/ryan-moreno-w1_4YH5IhDg-unsplash.jpg);
    width: 100%; 
    display: flex;
    align-items: flex-end; /*puts all items at the bottom of the container*/
}

header h1 {
    width:50%; 
    display: flex;
    justify-content: flex-start; /*Keeps h1 to the left*/
    margin-bottom: 0;
}

header nav {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
}

header nav ul {
    width: 100%;
    display: flex;   
    list-style: none;
    justify-content: flex-end;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    
}

header nav ul li{ /*puts an equal ammount of space between each list item, while the smaller value for margin right pushes the entire list slightly to the right of the page.*/
    margin-left:6%;
    margin-right: 4%;
    
}

header nav ul li a {
    color:aliceblue;
    font-weight: bold;
    
}

header h2 {
    margin-bottom: 0;
}

main {
    display:flex;
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column; /*stacks items on top of each other*/
    height: auto;/*fills the body top to bottom*/
    width: 25%; /*fills 25% of page width*/
    justify-content: space-between;
    
}

.sidebar h3 {
    color:aquamarine
}

.info{
    display:flex;
    flex-direction: column; /*stacks about me, projects, and contact*/
    margin-left: 25px;
    width: 70%;
}

.about-me {
    display: inline-block;
}

.about-me img {
    width:12%;
}

.projects ul {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; /*causes items to wrap to a new row*/
}

.projects ul li {
    width: 37%;
    margin: 5px;
}

.projects ul li img {
    width: 100%;
    height: 100%;
}

.projects ul li img:hover {
    box-shadow: 0 0 2px 2px aquamarine;
}

#number-one { /*Makes the first project in the list larger than the rest*/
    width: 75%;
    height: 100%;
}

#number-one img {
    width: 100%;
}


.contact {
    display: flex; 
}

.contact ul {
    display: flex;
    list-style: none;
    justify-content: space-around; /*centers content within container*/
    width: 100%;
}






